.aspect_ratio {
  position: relative;
  width: 100%;
  // padding-bottom is set via inline style based on ratio
}

.content {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;

  // Ensure children fill the container
  > * {
    width: 100%;
    height: 100%;
  }

  // Common media elements should cover
  > img,
  > video,
  > iframe {
    object-fit: cover;
  }
}
