.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.padded {
    padding: 2rem;
}

.small {
    max-width: 640px;
}

.medium {
    max-width: 800px;
}

.large {
    max-width: 1024px;
}

.xlarge {
    max-width: 1280px;
}
