.icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 1.5rem;
    height: 1.5rem;

    svg {
        width: 100%;
        height: 100%;
        fill: currentColor;
    }
}

.small {
    width: 1rem;
    height: 1rem;
}

.large {
    width: 2rem;
    height: 2rem;
}

.xl {
    width: 2.5rem;
    height: 2.5rem;
}
