.row {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.gap_small {
    gap: 0.5rem;
}

.gap_medium {
    gap: 0.75rem;
}

.gap_large {
    gap: 1.5rem;
}

.align_center {
    align-items: center;
}

.align_end {
    align-items: flex-end;
}

.align_stretch {
    align-items: stretch;
}
